annotated-types
anyio
asgiref
blinker
certifi
click
colorama
contourpy
cycler
distro
dj-database-url
Django
django-environ
django-filter
djangorestframework
Flask
flask-cors
fonttools
gunicorn
h11
httpcore
httpx
idna
itsdangerous
Jinja2
jiter
joblib
kiwisolver
Markdown
MarkupSafe
matplotlib
numpy
openai
opencv-python
packaging
pandas
pillow
psycopg2-binary
pydantic
pydantic_core
pyparsing
python-dateutil
pytz
scikit-learn
scipy
six
sniffio
sqlparse
threadpoolctl
tqdm
typing-inspection
typing_extensions
tzdata
Werkzeug